<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'style.css' %}">
</head>
<body>
    <h1>Books</h1>
    <div id = container>
    
        <form action = '/process' method = 'POST'>
            {% csrf_token %}
            <input type = 'hidden' name = 'form_for' value = 'books'>
            <label for="title">Title</label>
            <input type = 'text' name = 'title'>
            <label for='desc'>Descripton</label>
            <textarea name = 'desc'></textarea>
            <input class = 'button' type = 'submit' value = 'Add'>
        </form>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for book in all_books %}
                <tr>
                    <td>{{book.id}}</td>
                    <td>{{book.title}}</td>
                    <td><a href = '/books/{{book.id}}'>View Details</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

</div>
<a class = 'button' href = '/authors'> View Authors</a>
</body>
</html>